<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.jrj.vtmatch.basicmatch.matchcore.dao.MatchTeamStatRankMapper">

    <insert id="batchInsert">
        INSERT INTO win_match_team_stat_rank (match_id,team_id,member_num,stat_date,day_yield,day_rank,last_day_rank,day_trend,week_yield,week_rank,last_week_rank,week_trend,month_yield,month_rank,last_month_rank,month_trend,total_yield,total_rank,last_total_rank,total_trend)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.matchId},#{item.teamId},#{item.memberNum},#{item.statDate},#{item.dayYield},#{item.dayRank},#{item.lastDayRank},#{item.dayTrend},#{item.weekYield},#{item.weekRank},#{item.lastWeekRank},#{item.weekTrend},#{item.monthYield},#{item.monthRank},#{item.lastMonthRank},#{item.monthTrend},#{item.totalYield},#{item.totalRank},#{item.lastTotalRank},#{item.totalTrend})
        </foreach>
    </insert>
    <delete id="deleteByDateAndMatchIds">
        DELETE FROM win_match_team_stat_rank
        WHERE match_id IN
        <foreach collection="matchIds" open="(" separator="," close=")" item="id">
            #{id, jdbcType=INTEGER}
        </foreach>
        AND stat_date = #{date, jdbcType=DATE}
    </delete>

    <delete id="deleteByDate">
        DELETE FROM win_match_team_stat_rank
        WHERE stat_date = #{date, jdbcType=DATE}
    </delete>
    <select id="selectLastStat"
            resultType="cn.com.jrj.vtmatch.basicmatch.matchcore.entity.match.MatchTeamStatRank">
        SELECT match_id,team_id, stat_date,day_yield,day_rank,week_yield,week_rank,month_yield,month_rank,total_yield,total_rank
        FROM win_match_team_stat_rank t1
            INNER JOIN (SELECT team_id tid, max(stat_date) sdate, match_id mid FROM win_match_team_stat_rank WHERE match_id = #{matchId, jdbcType=INTEGER} AND stat_date &lt; #{date, jdbcType=DATE} GROUP BY team_id) t2
                ON match_id=mid AND team_id=tid AND stat_date = sdate
    </select>
</mapper>
